<div class="container-contact100">
  <div class="wrap-contact100">
    <%= render 'form' %>
    <%= render 'company_info' %>
  </div>
</div>
<div id="dropDownSelect1"></div>
<%= javascript_pack_tag 'main' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

